.my-orders__card-title-text {
    margin-bottom: 30px;
    font-size: 28px;
}

.my-orders__card-comments-title {
    text-align: left;
    font-size: 24px;
}

.my-orders__card-form{
    margin: 20px 0px 20px
}

.btn-success {
    margin: 10px 10px 10px 0px;
}