.MainText {
    background: white;
    padding: 8px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 10px;
    border: 4px solid;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    min-inline-size: 70%;
    border-radius: 20px;
}

.MainText > p {
    text-align: left;
    text-indent: 40px;
}

.MainText > h2 {
    text-align: left;
}

.news__title{
    margin-top: 30px;
}
