{% extends "app/layout.html" %}

{% block content %}

<h1>О нас:</h1>
<div class="MainText">
    <p class="tab">
        Добро пожаловать на сайт <b>PharmaVista</b> — ваш надежный источник актуальной информации о лекарствах, медицинских исследованиях и последних достижениях в области здравоохранения.
        Мы предлагаем самые свежие новости, научные публикации, обзоры препаратов и аналитику на темы, связанные с фармацевтикой.
        Наша цель — обеспечить вас знаниями, которые помогут ориентироваться в мире лекарств и принимать взвешенные решения для улучшения здоровья.
    </p>
    <div><img src="../../static/app/content/photo/lab.jpg"></div>
    <p class="tab">
        <b>PharmaVista</b> собирает для вас только проверенные данные, которые проходят тщательную экспертизу.
        Мы публикуем материалы, основанные на самых последних исследованиях, и следим за тем, чтобы каждый текст был понятен и полезен для наших читателей.
        Независимо от того, интересуют ли вас новинки фармацевтики или подробности о клинических испытаниях,
        у нас вы найдете нужную информацию, представленную доступным и понятным языком.
    </p>
    <hr noshade />
    <h3>Информация которую вы можете найти на нашем сайте:</h3>
    <ul>
        <li>Научные исследования</li>
        <li>Медицинские технологии</li>
        <li>Отчеты и аналитика</li>
        <li>Новости здравоохранения</li>
        <li>Методы диагностики</li>
        <li>Интервью и мнения экспертов</li>
    </ul>
    <div><img src="../../static/app/content/photo/research.jpg"></div>
    <p id="end">
        <strong><em>С нами вы всегда будете в курсе всех изменений и новых тенденций в сфере медицины и фармацевтики!</em></strong>
    </p>
</div>

{% endblock %}
