{% extends "app/layout.html" %}

{% block content %}

<h1>Полезные ссылки:</h1>
<address>
    <div class="MainText">
        <p class="tab">
            Сайт Министерства здравоохранения Российской Федерации: официальный источник информации о системе здравоохранения России,
            включая новости, нормативные акты и статистику:
        </p>
        <a href="https://minzdrav.gov.ru/"><img src="../../static/app/content/photo/minzdrav.png" alt=""></a>
        <p class="tab">
            Сайт клиники Майо (Mayo Clinic): международно признанный ресурс, предлагающий информацию о заболеваниях,
            методах лечения и последних медицинских исследованиях:
        </p>
        <a href="https://www.webmd.com/"><img width="200" height="200" src="../../static/app/content/photo/webmd.png" alt=""></a>
        <p class="tab">
            Бесплатный и доступный ресурс, который предоставляет информацию о заболеваниях, лекарствах,
            симптомах и профилактике. Это один из самых популярных онлайн-ресурсов по вопросам здоровья:
        </p>
        <a href="https://www.mayoclinic.org/"><img width="200" height="200" src="../../static/app/content/photo/mayoclinic.png"></a>
    </div>
</address>

{% endblock %}
